.form-group {
  margin-bottom: 0.5rem;

  &.form-group_error {
    .form-group__errors {
      display: block;
    }
  }

  .form-group__errors {
    font-size: 12px;
    color: var(--error);
    padding: 4px 0;
    min-height: 22px;
    display: none;

    span {
      display: block;
    }
  }
}
