h1,
.h1 {
  margin-bottom: 0.67em;
  font-family: var(--base-font-family);
}

h2,
.h2 {
  margin-bottom: 0.83em;
  font-family: var(--base-font-family);
}

h3,
.h3 {
  margin-bottom: 1em;
  font-family: var(--base-font-family);
}

h4,
.h4 {
  margin-bottom: 1.33em;
  font-family: var(--base-font-family);
}

h5,
.h5 {
  margin-bottom: 1.67em;
  font-family: var(--base-font-family);
}

h6,
.h6 {
  margin-bottom: 2.33em;
  font-family: var(--base-font-family);
}

b,
strong {
  font-weight: 500;
}
